html {
	height: 100%;
}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

div.w3-container {
	flex: 1 0 auto;
}

.sort_list {
	cursor: pointer;
}

.sort_list:hover {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}

.category_list_container {
	margin-left: 200px;
	margin-right: 20px;
	margin-top: 20px;
}

.comment_form_container,
.post_form_container {
	margin-left: 200px;
	margin-top: 20px;
	width: 50%;
}

.comment_inputs,
.post_inputs {
	width: 15%;
	font-weight: 900;
}

.label_error {
	color: #b20000;
}

.input_error {
	outline: 1px solid #b20000;
}

.comment_list_container {
	margin-top: 20px;
	width: 100%;
}

.flex_column {
	display: flex;
	flex-direction: column;
}

.flex_row {
	display: flex;
	flex-direction: row;
}

.post_container
{
	min-height: calc(100vh - 70vh);
}

footer
{
	height: 70px;
}